@font-face {
  font-family: vazir;
  src: url(../assets/fonts/Vazir-Regular-FD.woff);
}

body {
  font-family: "vazir";
}
body.modal-open .supreme-container {
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(2px);
}
.body-bgc {
  background-color: #db2818;
}
.main-bgc {
  padding-right: 0;
  padding-left: 0;
}
.main-bgc,
.bgc-btn-center {
  background-color: #f2f6ff;
}
.mainBorder {
  border-top: 4px solid #ececec;
}
.cards {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.bgc-btn {
  background-color: #a00f0e;
}
.card-text {
  margin-bottom: 0.3rem;
}
.buttons {
  max-height: 1.5rem;
  max-width: 28%;
}
.tasvir {
  height: 100%;
  width: 100%;
}
hr {
  margin-bottom: 0;
}
::-webkit-scrollbar {
  position: absolute;
  right: 10px;

  width: 11px;
  height: 11px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #858a8b;
  border: 0px none #ffffff;
  border-radius: 16px;
}
::-webkit-scrollbar-thumb:hover {
  background: #454545;
}
::-webkit-scrollbar-thumb:active {
  background: #3b3b3b;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 16px;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.tickWrapper {
  max-width: 2rem;
  max-height: 2rem;
}
.takhfifBox {
  max-height: 2rem;
}

.h-4rem {
  height: 2rem;
}
.width30 {
  max-width: 240px;
}
.w30 {
  width: 35%;
}
.w30:hover,
.w30:active,
.w30:visited {
  background-color: #a00f0e;
}
#discountInput:focus {
  outline: 0 none;
  border: none;
  box-shadow: none;
}

@media all and (max-width: 960px) {
  .mdResponsive {
    padding-right: 0;
  }
}
@media all and (max-width: 576px) {
  .width70 {
    background-image: url(../assets/img/minus.png);
    background-position: center center;
    background-size: contain;
    padding: 5px;
  }
  .withAdd70 {
    background-image: url(../assets/img/add.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
